.menu{
    background-color: turquoise;
}

.header{
    background-color: blue;  
    display: flex;
    justify-content: space-between;
  }
  

  /* .h1{
      text-align: center;
    }
  .p {
      text-align: center;
    }
  .div {
      text-align: center;
    }
  */

  *{
    text-align: center;
    
  }